body {
    background-color: #e9edc9;
    
    border-radius: 0.5em;
}
.title {
    
    color: #bc6c25;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0.5em;
}

.descriptions {
    background-color: #3a5a40;
    color: white ;
    
    margin-left: 35%;
    margin-right: 40%;
    padding: 0.5em;
    align-items: center;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    text-align: center;


}

.descriptions.p {
    margin-left: 20%;
    }

.descriptions:hover {
    background-color: royalblue;
    font-family: 'Rubik', sans-serif;
}

.image {
    margin-left: 40%;
    margin-right: 25%;
    border-radius: 0.5em;
}

.steps {
    display: flex;
    align-self: center;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    color: #1b263b;

}

.ingridients {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    color: #1b263b;
}

#h2-p {
    margin-left: 20%;
    margin-right: 20%;
}